<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="url" value="jdbc:mysql://localhost:3306/book_test"/>
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="username" value="mysql"/>
                <property name="password" value="123456"/>

            </dataSource>
        </environment>
    </environments>

</configuration>
